  .logo-eco{
    width:150px
  }
  
  .menu-eco{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .cart-eco{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  span.cart-noti {
    color: #fff;
      background: #000;
      font-weight: 700;
      border-radius: 100px;
      padding: 4px 10px;
      margin-left: 10px;
      font-size: 12px;
  }
  
  .menu{
    border-bottom: 3px solid #000;
  }
  
  .icon-cart{
    fill: #000;
    font-size: 23px;
  }

  a.nav-link {
    font-family: sans-serif;
    color: #000;
    font-weight: 400;
}

@media (max-width:480px){
  .menu-eco{
    flex-direction: column;
  }
}